.about1{
    display: flex;
   width: 100%;
   background-color: black !important;
   padding: 30px 0 30px;
   
}
.about-image1{
    width: 50%;
    display: flex;
    justify-content: center;
}
.about-image1 img{
    width: 100%;
}

.about-details1{
    width: 50%;
    padding-left: 30px;
    padding-top: 2%;
    display: flex;
    align-items: flex-start;
    background-image: url("https://images.unsplash.com/photo-1556761223-4c4282c73f77?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZCUyMGJsYWNrfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 600px) and (min-width: 360px) {

.about1{
    flex-direction: column;
}
.about-image1{
    width: 100%;
    justify-content: center;
}
.about-details1{
    width: 100%;
}



}