.eggy-nav{
    text-align: left;
    
}
 .navbar-toggler-icon{
     
     background-color: rgb(243, 212, 39) !important;
     padding: 20px !important;
     border-radius: 5px;
 }

.nav-toggle{
    margin-left: 50%
}
.navItem{
    margin-right: 50px;
}
.logInBtn {
    
    background-color:#f1c40f ;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}
.admin{
    display: flex;
    
}

@media screen and (max-width: 600px) and (min-width: 360px) {

.admin{
    flex-direction: column;
}


}